<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4><%= siteSettings.companyName %></h4>
                <p><%= siteSettings.companyDescription %></p>
            </div>
            <div class="col-3">
                <h4><%= siteSettings.footerCategoriesTitle %></h4>
                <ul>
                    <% categories.forEach(category => { %>
                        <li><a href="/category/<%= category.slug %>"><%= category.name %></a></li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-3">
                <h4><%= siteSettings.footerPagesTitle %></h4>
                <ul>
                    <li><a href="/"><%= siteSettings.homeText %></a></li>
                    <li><a href="/store"><%= siteSettings.storeText %></a></li>
                    <% if (navPages && navPages.length > 0) { %>
                        <% navPages.filter(page => page.showInFooter !== false).forEach(page => { %>
                            <li><a href="/<%= page.slug === 'about' || page.slug === 'contact' ? page.slug : 'page/' + page.slug %>"><%= page.title %></a></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="col-3">
                <h4><%= siteSettings.footerContactTitle %></h4>
                <p><%= siteSettings.address %></p>
                <p><%= siteSettings.phoneText %>: <%= siteSettings.phone %></p>
                <p><%= siteSettings.emailText %>: <%= siteSettings.email %></p>
                <p><%= siteSettings.hoursText %>: <%= siteSettings.businessHours %></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; <%= siteSettings.copyrightText %></p>
        </div>
    </div>
</footer>